<section id="benefits-section">
    <div class="section-header">Почему мои тренировки?</div>
    <ul id="benefits-list">
        <li>
            <div class="header"><img src="img/benefits/thunder.png"><span>Быстрые результаты</span></div>
            <div class="text">Максимально эффективные тренировки, бьющие точно в цель. Похудение, силовой функционал, йога, осанка, женское здоровье - все основано на научном подходе.</div>
            <img class="benefit-image" src="img/benefits/before-and-after.jpeg" alt="До и после">
        </li>
        <li>
            <div class="header"><img src="img/benefits/helping-hand.png"><span>Простота и доступность</span></div>
            <div class="text">Готовые комплексы, включай и повторяй. Для любых уровней подготовки. Тренировки от 20-ти до 60-ти минут. Нужен только коврик, а если хочется жаришки - гантели</div>
            <img class="benefit-image" src="img/benefits/carpet-and-dumbell.png" alt="До и после">
        </li>
        <li>
            <div class="header"><img src="img/benefits/settings.png"><span>Индивидуальный контроль</span></div>
            <div class="text">Отображение активностей в личном календаре, возможность ведения дневника. Персональный еженедельный контроль с моей стороны</div>
            <img class="benefit-image" src="img/benefits/journal.jpg" alt="До и после">
        </li>
    </ul>
</section>