<section id="hero-section">
    <div id="hero-container">
        <div id="navbar-container">
            <div id="owner-name">РЕГИНА ГОРБАЧЕВА</div>
            <a class="go-to-app-btn" href="https://regina-go.web.app">На платформу</a>
        </div>

        <div id="headline">ЗДОРОВЬЕ ЧЕРЕЗ ДВИЖЕНИЕ</div>

        <p id="sub-headline">
            <mark>онлайн-тренировки с персональным контролем</mark>
        </p>

        <ul id="social-proof-container">
            <li class="social-proof"><span class="marked">1000+</span><span class="proof-text">тренили вместе со мной</span></li>
            <li class="social-proof"><span class="marked">200+</span><span class="proof-text">тренировок на платформе</span></li>
            <li class="social-proof"><span class="marked">14</span><span class="proof-text">дней для первого результата</span></li>
        </ul>
    </div>

    <div id="cta-btn-container">
        <a class="action-btn" href="#trial-section">БЕСПЛАТНЫЕ ТРЕНИРОВКИ</a>
    </div>

    <div id="image-container">
        <img src="img/hero-photo-429x900.png" alt="Привет!"/>
    </div>

    <div class="hero-page-decoration decoration-1">
        <img src="img/decoration.png" alt="">
    </div>

    <div class="hero-page-decoration decoration-2">
        <img src="img/decoration.png" alt="">
    </div>

    <div class="hero-page-decoration decoration-3">
        <img src="img/decoration.png" alt="">
    </div>

</section>
<div class="trial-period-notice">3-х дневный пробный период - бесплатно</div>
