<section id="rates-section">
    <div class="section-header">
        <div>Тренируйтесь регулярно</div>
        <div class="section-subheader">за 1100 рублей в месяц*</div>
    </div>
    <p class="mx-2">*при оплате подписки на год</p>

    <div class="section-intro">Если Вам понравилось, приобретайте подписку на платформу, чтобы тренироваться регулярно. Более 200 тренировок на любой вкус не дадут Вам заскучать. Каждую неделю выходит новая</div>
    <div class="trial-period-notice">Бесплатная отмена в течение 3-х дней</div>
    <div id="cost-info-container">
        <span class="left fw-bold">Срок</span>
        <span class="column-2-4 fw-bold">
            Стоимость
        </span>
        <span class="fw-bold">Скидка</span>
        <span class="left">1 месяц</span>
        <span>2190 руб</span>
        <span>21.9 евро</span>
        <span></span>
        <span class="left">3 месяца</span>
        <span>4990 руб</span>
        <span>49.9 евро</span>
        <span>25%</span>
        <span class="left">6 месяцев</span>
        <span>8490 руб</span>
        <span>84.9 евро</span>
        <span>35%</span>
        <span class="left">12 месяцев</span>
        <span>14490 руб</span>
        <span>144.9 евро</span>
        <span>45%</span>
    </div>
    <div class="text-center mt-3">
        <a class="action-btn" href="https://regina-go.web.app/payment">ПРИОБРЕСТИ ПОДПИСКУ</a>
    </div>
</section>

