<section id="social-proof-section">
    <div class="section-header">Отзывы</div>
    <ul id="social-proof-examples">
        <li>
            <div class="user">
                <img src="img/social-proof/1.png" alt="">
                <div>Anastasiiia</div>
            </div>
            <div class="text">Очень удобная платформа. Можно пользоваться в любое время и в любом месте. Можно самому выстаивать свой график занятий. Я, например, построила следующим образом: по утрам экспресс-тренировка, чтобы проснуться, потянуться, снять отеки. А 2 раза в неделю обычная, длительная на разные виды мышц. Регина объясняет все очень доходчиво. </div>
        </li>
        <li>
            <div class="user">
                <img src="img/social-proof/2.png" alt="">
                <div>Ралина</div>
            </div>
            <div class="text">Это так удобно! Не важно где ты: в командировке, в поездке или дома, тренировка всегда с тобой. Платформа нравится за простоту и максимум полезности, все что нужно. А самое большая моя любовь - это замечательная Регина, спасибо ей за мотивацию и отличное настроение!</div>
        </li>
        <li>
            <div class="user">
                <img src="img/social-proof/3.png" alt="">
                <div>Alina</div>
            </div>
            <div class="text">Какой же крутой продукт создала Регина и совершенствует! Я в восторге какие необычные связки и переходы в тренировках. У меня с грудничком удается уделить только 20 минут спорту и не каждый день :), а именно на этой платформе можно найти оптимальный вариант по времени и нагрузке. Еще ооочень помогают слова мотивации от Регины и комментарии, что и где должно тянуться, какие ощущения в теле. Спасибо большое, я советую всем с 2020 года <3 </div>
        </li>
    </ul>
</section>

