<section id="trial-section">
    <div id="trial-training-header" class="section-header">Пробные тренировки</div>
    <p class="section-intro">20-ти минутная тренировка для профилактики сутулости</p>
    <div class="video-background">
        <iframe src="https://www.youtube.com/embed/qyRCNf5FhG0" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>
    <br/>
    <p class="section-intro">20-ти минутная тренировка с акцентом на ягодицы и осанку</p>
    <div class="video-background">
        <iframe src="https://www.youtube.com/embed/XHeT_AZxMtc" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
    </div>
    <div class="trial-page-decoration decoration-1">
        <img src="img/decoration.png" alt="">
    </div>

    <div class="trial-page-decoration decoration-2">
        <img src="img/decoration.png" alt="">
    </div>

    <div class="trial-page-decoration decoration-3">
        <img src="img/decoration.png" alt="">
    </div>
</section>