<section id="who-is-this-subscription-for-section" class="position-relative overflow-x-hidden">
    <div class="section-header">Для кого эта подписка</div>
    <div class="decoration">
        <img src="img/decoration.png" alt="">
    </div>
    <div id="decoration2">
        <img src="img/decoration.png" alt="">
    </div>
    <ul class="section-text">
        <li>
            <img src="img/icons/clock.png" alt="нет времени" style="width: 28px"><span>Работаю из дома, нет времени ездить в фитнес-клуб</span>
        </li>
        <li>
            <img src="img/icons/baby_64.png" alt="в декрете"><span>В декрете, нет возможности куда-то ездить</span>
        </li>
        <li>
            <img src="img/icons/travel_64.png" alt="много путешествую"><span>Много путешествую и не хочу прерывать тренировки</span>
        </li>
        <li>
            <img src="img/icons/spinal-column_64.png" alt="проблемы со здоровьем"><span>Проблемы с самочувствием или здоровьем</span>
        </li>
        <ul class="sublist">
            <li>часто болит поясница, шея или колени</li>
            <li>сутулая осанка</li>
            <li>хочу восстановиться после родов</li>
            <li>есть недержание мочи при чихании, кашле и при беге. Есть небольшое опущение стенок влагалища</li>
            <li>болят стопы, растет косточка у большого пальца, отекают ноги</li>
        </ul>
        <li>
            <img src="img/icons/sarcastic.png" alt="нет эффекта"><span>Регулярно занимаюсь, но эффекта нет</span>
        </li>
        <ul class="sublist">
            <li>живот никак не уходит</li>
            <li>хочется похудеть не к лету, а навсегда</li>
            <li>вроде худая, а рельефа нет</li>
            <li>сдутые ягодицы, заплывшие ноги, не нравится галифе</li>
            <li>дряблые руки</li>
            <li>не хватает энергии для качественной жизни</li>
            <li>тренировки не приносят результата</li>
            <li>тренировки быстро надоедают</li>
            <li>нет удовольствия от движения</li>
        </ul>
    </ul>

    <div class="summary">Хочется иметь красивое, здоровое тело? Регулярно тренируетесь, но нет эффекта? Эта платформа может стать <strong>идеальным решением</strong></div>
</section>