<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
  </head>

  <body>

    <div id="all">
      {{ partial "hero-section.html" . }}

      {{ partial "trial-section.html" . }}

      {{ partial "benefits-section.html" . }}

      {{ partial "social-proof-section.html" . }}

      {{ partial "product-overview-section.html" . }}

      {{ partial "who-is-this-subscription-for-section.html" . }}

      {{ partial "rates-section.html" . }}

      {{ partial "footer.html" . }}

    </div>

    {{ partial "scripts.html" . }}

  </body>
</html>
